@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Azeret Mono", monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  padding: 20px;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}
nav > h3 {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
}
nav > a > button {
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(13, 19, 33);
  background: #fff;
  font-size: 18px;
  color: rgb(13, 19, 33);
}

/* banner-section */

.banner-container {
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  min-height: 600px;
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 50px;
  line-height: 30px;
}
.banner-content img {
  width: 200px;
  height: 220px;
  /* border: 1px solid red; */
}
.banner-content h3 {
  color: rgb(13, 19, 33);
  font-size: 38px;
  font-weight: 800;
  text-align: center;
  line-height: 60px;
  width: 80%;
}
.banner-content p {
  color: rgb(56, 59, 65);
  /* font-family: Azeret Mono; */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  /* letter-spacing: 0%; */
  text-align: center;
}
.banner-content a > button {
  padding: 10px 20px;
  background: #fff;
  font-size: 18px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}

/* development section */

.dev-container {
  text-align: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  height: 1300px;
  margin: 40px 100px;
}
.dev-container h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  padding-top: 60px;
  padding-bottom: 20px;
}
.dev-container p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 80%;
  margin: auto;
}
.dev-content {
  padding: 40px 0;
  width: 87%;
  margin: auto;
}

.group-one {
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  /* border: 1px solid red; */
  margin: auto;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.group-two {
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  /* border: 1px solid red; */
  margin: auto;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.group-three {
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  /* border: 1px solid red; */
  margin: auto;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.group-a {
  width: 477px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.group-a h4 {
  margin-left: 47px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.group-a button {
  padding: 10px;
  margin-left: 50px;
  background-color: #fff;
  border: 1px solid black;
}
.group-b {
  width: 477px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.group-b h4 {
  margin-left: 47px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.group-b button {
  padding: 10px;
  margin-left: 50px;
  background-color: #fff;
  border: 1px solid black;
}
.group-c {
  width: 477px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.group-c h4 {
  margin-left: 47px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  /* text-align: left; */
}
.group-c button {
  padding: 10px;
  margin-left: 50px;
  background-color: #fff;
  border: 1px solid black;
}

/* My ins pi ration */

.inspiration {
  margin: 0 100px;
  text-align: center;
  min-height: 600px;
  /* line-height: 30px; */
}
.inspiration h3 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 15px;
}
.inspiration p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 80%;
  margin: auto;
}
.video {
  border: 2px solid black;
  border-radius: 15px;
  height: 500px;
  margin-top: 20px;
}
.vid {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 20px;
}

/* MY CURRENT TARGET */

.current-target {
  margin: 40px 100px;
  min-height: 420px;
  /* border: 1px solid red; */
}
.current-target h3 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}
.current-target > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding-top: 10px;
}
.box-model {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-top: 20px;
  height: 300px;
  /* margin: auto 20px; */
}
.box-one {
  /* border: 1px solid red; */
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 30px;
}
.box-one h4 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  padding: 15px 0;
}
.box-one p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}
.box-one a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}
.box-two {
  /* border: 1px solid blue; */
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  padding: 30px;
}
.box-two h4 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  padding: 15px 0;
}
.box-two p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}
.box-two a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}
.box-three {
  /* border: 1px solid orange; */
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  padding: 30px;
}
.box-three h4 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  padding: 15px 0;
}
.box-three p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}
.box-three a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}

/* SEARCH ENGINE */
.search {
  margin: 0 100px;
  height: 320px;
  /* border: 1px solid red; */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../assets/handshake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.search-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
}
.search-content h4 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
}
.search-content p {
  color: rgb(180, 168, 168);
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
}

.input input {
  padding: 7px 25px;
  border-radius: 8px;
  border: none;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
}
#footer {
  background-color: rgb(226, 223, 223);
  height: 70px;
  padding: 40px 120px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
